[user]
	signingkey = AC2291CF29056C5C
	name = Craig Gumbley
	email = craiggumbley@gmail.com
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	rebase = true
[core]
	editor = vim
[init]
	defaultBranch = main
[diff]
	colorMoved = zebra
[fetch]
	prune = true
