-----BEGIN PGP MESSAGE-----
Comment: https://keybase.io/download
Version: Keybase Go 4.3.2 (linux)

wcBMA+jIQmjBH5t8AQgAMvNoN5AiUd1wfpkLtEP9khg8bh+zZbM8FlRwyXFXdrC1
bFGWAsfz0F/SSVkezyjdwStzWvD2lX8OpsphVvFzLnDleav4LXs7eoC/xX5BYq2m
vJc30Cni7nOHHg+dQMX8bod63e2FrkdeqDxKlbBmiqg959oj7KlBwD89whGeW2U4
MaWhG+zDu0KVV5StOMNejDb4cs0M0CGYQf4dOSynO54uM1VAOKeRwIX9zeaegO+X
sT8AVAZkIY+xIvbkfYGK/6ZVkxQI+UCO5ft1uMkO3jj4oh239aSt20/XtN1uCWs8
NMlgfp+L+fog3I0yL0AT5HXC8oDpdRxWTY8DG831uMHBTAONvUK8xm6DzAEQADa9
lV86fO2v22iTs+V3s/6thi6Zez3TdqwKL+GfpTKtSB0i6wHV/qrCvKqAPFdovNwB
9CyKDf/3KGehhmaucTD8DznlM1si9RWSlzkFkkjeI3coy70+mtEVvE0Enp6prehV
byx6zhzo0mz5AUe8swmPV8p+EOFNXJ3ke5AedPJs/j5OhlmN6SNzk/F62q1lhl5Y
SZlPgvMtBPom53w2/SVaAlE0lx9Ce/aZLLmCUbTBp3bhXHSoQ2xTnThsHZQt0E/u
UgM2xTJY9Hs4xrBpFn4KViFgRwmgILk3NLJAxK6drMqx/bDj16GrXaxq3s7XfDM/
y9VhkTiZleOPq+jwB+6FJu93iwEXQxb4t5zUFr07M7ieUDyLdq03VvxsNSJ5B+ZL
8xVXsNH5xNgorbig2q/wtAiudnNiua+rhjPH6xQy0Ob/PhlWoFybmygh0xBFT1Qv
3ggD2o1C6tvuSCK60rkIOs+ZIZYnfOww6xquapC4itr8vArKlIL+08UCHRk1uJSx
1Hr6Yt8nKiPVN+vscqZZLFzQnkHuCVuJH9pEiwZv8yTiEsQZ1PCzk+q+4clfjzYf
L3a65cRVSS8gs76y3rImp9gtthgbnCFk1NPlxgNlWphA9Z1SiJ40Izr0++F4eai1
Xaa0vT7jIYcmdVOS0NUaxt5kDm08Vdzq8NM19fubwcFMA8AAL8P16VmuARAAA9OK
CzhN9FFBG9Fnybjg34bnmf7pCw4rkHDwCUArCfm7dHIpyzaEjGZg4iBuSIVjQlYI
Km36dc0t/kjPPII0rWjiKcs+HTd3EggeRew4akyoQeiYsXM0SvMqsNqD/eZYVI0H
N0nIe++oyporRrSbzIIx0JN4Wda8lwGoUZpN31v3meiBNu0aMQDs1N2vl1B2ivlo
IJZCUcaeLs9Neu+gsvWU1hXLDwj0PAPxpTSOIfEEM5T/iVA8SvL0jg1eB7C3WiBk
Yp6rJVtPcPr9ORI/TpUTX9obiJRQ6ixbPyjC1yHpHOmh//moLakLeOv6Y70n/fE3
DUfQhgOVQVB1bU9vYxCP4ad7ryR0R31ODv1r+7+N/B8f0CXgLuPlOmgux5sOVD1g
OVZQHSWBWRv9JxR/cN8C07uKOJynUdwfj8QoYoBitWabPsP/U89wgC+1yb5Bbs8u
o7ILU7CmSOxDrnZA/0Bzk47hMuK5519IQiSr7Uc8dxmADwzloPN3lbWvK93IIgFE
9q3BvKTYpuYohoF1e4dE7RFiptLaS/S7i0ZY5tSEA9SVSMP2/cGj/acLRtkDhSLb
iDAl5/UoSu2tCe/H4+UdA4p1gLGkNHE9+LkYFmJRa8LbiL7kEbWHUODpTkwoUp97
7/3UdzhBuwcajtZMyxoSmvDWyHKVJr4hAIpw92HS4AHkmSem+zklBTO5B6h8uZAg
reGD9uH3Z+N42J8Xg6Ns/OIECoXT4LzgEuD94WyG4PjilEuuKeAR50zBNJ0GMOTw
CE6dlclNWqBugRI5x8eIbLmGGk8x3UWBVMUxkbT6MsPqX96nvmnJaJ6M1EoDbirH
SZSnZakISyEmYKjYFTv88NUTaa4Z1z8vf4FCnUUCehlQNXi1lqvGEq/+EjBchAJC
llsWVEEj1EXBSR/Gh84E2xRSgMYtx3244CHj1PYMtCE2KXPg8OISojEh4LHgfOBy
4ZzW4NTkwH9vY1POFmkwoGCkoDnYnOIfi8l44R0t4RtT4WxC4b9V6Q5YdsOSXNVT
H4F6sptLSZD0M34Wzv4q355G66C0RlTy3BBEGOux9rz95lzzcfJ1lNP3oluTOAAJ
vLj1NJzfFve441XeVC0WEkh5jpI6pIHSLx/rhI5/qbuFuZ1RCSHNvGpFr8HHAM0H
WDJ/Nd3jcxbIBOr+YdFaezGndQMizW0II60GE4vKpqoFMRZYQBj5DqyE0w6o7NQN
gwiWTznlRa/NXluuLF9fku6Ya8Ax6RrS5UgWgoOW/9IBapEw/dGuJ4xBk5mtENGA
2O8DTv88ROjZTLLyyhhXIgADnTRe/UXrbc0vmMz3WewA1UBHaSGXUtWzDS2OKoIR
s9tfQWkUmtU61mSoAzvfnp0Cr6AvF2bsXIvxzbaj2iIgVI0vMSOT2KTKsR+JBPDS
wAajqCsW1C+5wfhGGjHyrIOfWHUbWzEtBXhCBrCLMXhW7Wks3X0L9eCOVdQ9uw3O
OdkwrHr8caVASm9ZBg1YwxoPk3V611f4CZDOJ7ZDBv7xLoNNP8Vhhpp2O6Q0WrKY
k3CG0F67kxGt0Z43lLrDxM5UgGKErigN6uKKQwOGfWTL316CrvIP+nIPT9ENrUPx
sEJ7bmKag1NZR1VrTXCJoBUINp1KWsg9bwSrd7lw/pQ76YNRlAXSPptq6XOl2N9D
AbfnqaoZkqo+DyKtOo4yEcebA+Yb/w4w5Dk19afnxTmuNs/vVB/EznriwG+T9uFa
egA=
=i/ef
-----END PGP MESSAGE-----
